@import "../../../../assets/css/variable/_variable.scss";
.related-portfolio{
  .related-portfolio__inner_box--post-name{
    padding: 10px 0px 0px 0px;
    text-align: center;
    h3{
        margin-bottom: 10px;
      a{
        color: $color-black;
      }
    }
  }
  .related-portfolio__inner_box--catagary-name-back-end{
    text-align: center;
    p{
      display: block;
      margin: 0;
    }
  }
}

.related-portfolio__inner_box--post-name {
  padding: 0;
  margin: 0;
}

