/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 @import "../../../../assets/css/variable/variable-v2";
 .problem-section__block-content {
   &_inner {
	   flex-direction: column;
	 &--img {
		 width: auto;
		 span{
			font-family: $global-family;
		 }
	 }
	 &--list {
	   width: auto;
	   h3 {
		margin: 0 0 0 0;
	   }
	   ul {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		 padding-left: 20px;
		 li{
			div.block-editor-rich-text__editable{
				font-family: $global-family;
			}
		 }
	   }
	 }
   }
 }
 