<!-- wp:group {"className":"blog","layout":{"type":"default"}} -->
<div class="wp-block-group blog"><!-- wp:group {"className":"container","layout":{"type":"default"}} -->
    <div class="wp-block-group container"><!-- wp:group {"className":"blog__heading","layout":{"type":"default"}} -->
    <div class="wp-block-group blog__heading"><!-- wp:heading {"textAlign":"center"} -->
    <h2 class="wp-block-heading has-text-align-center">blog </h2>
    <!-- /wp:heading --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"className":"blog__inner","layout":{"type":"default"}} -->
    <div class="wp-block-group blog__inner"><!-- wp:query {"queryId":13,"query":{"perPage":"5","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null},"displayLayout":{"type":"list","columns":3},"layout":{"type":"default"}} -->
    <div class="wp-block-query"><!-- wp:post-template -->
    <!-- wp:columns {"align":"wide"} -->
    <div class="wp-block-columns alignwide"><!-- wp:column {"verticalAlignment":"top","width":"50%","layout":{"type":"default"}} -->
    <div class="wp-block-column is-vertically-aligned-top" style="flex-basis:50%"><!-- wp:post-featured-image {"isLink":true} /--></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"width":"50%"} -->
    <div class="wp-block-column" style="flex-basis:50%"><!-- wp:post-title {"isLink":true,"linkTarget":"_blank","className":"blog__inner_heading"} /-->
    
    <!-- wp:post-date {"isLink":true,"className":"blog__inner_date"} /-->
    
    <!-- wp:post-excerpt {"className":"blog__inner_details"} /--></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    <!-- /wp:post-template -->
    
    <!-- wp:post-navigation-link {"type":"previous","label":"Previous","linkLabel":true,"arrow":"chevron","className":"blog__inner_previous "} /-->
    
    <!-- wp:post-navigation-link {"label":"Next","arrow":"chevron","className":"blog__inner_next  "} /--></div>
    <!-- /wp:query --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->