<!--Load Google reCAPTCHA Javascript API-->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<!-- wp:template-part {"slug":"header","theme":"Qrolic-Technologies"} /-->

<!-- wp:group {"className":"single-post","layout":{"type":"constrained"}} -->
<div class="wp-block-group single-post"><!-- wp:group {"className":"single-post__inner","layout":{"type":"default"}} -->
    <div class="wp-block-group single-post__inner"><!-- wp:group {"className":"container","layout":{"type":"default"}} -->
    <div class="wp-block-group container"><!-- wp:group {"className":"row justify-content-center","layout":{"type":"default"}} -->
    <div class="wp-block-group row justify-content-center"><!-- wp:group {"className":"col-lg-8 col-md-10 col-12","layout":{"type":"default"}} -->
    <div class="wp-block-group col-lg-8 col-md-10 col-12"><!-- wp:group {"className":"post-top","layout":{"type":"default"}} -->
    <div class="wp-block-group post-top"><!-- wp:post-title {"level":1} /-->
    
    <!-- wp:group {"className":"date-time","layout":{"type":"default"}} -->
    <div class="wp-block-group date-time"><!-- wp:post-date /-->
    
    <!-- wp:post-terms {"term":"category"} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"className":"post-content","layout":{"type":"default"}} -->
    <div class="wp-block-group post-content"><!-- wp:post-featured-image {"width":"","height":""} /-->
    
    <!-- wp:post-content {"layout":{"type":"default"}} /-->
    
    <!-- wp:group {"align":"full","style":{"spacing":{"padding":{"right":"var:preset|spacing|50","bottom":"var:preset|spacing|60","left":"var:preset|spacing|50","top":"var:preset|spacing|60"},"blockGap":"var:preset|spacing|40","margin":{"top":"0","bottom":"0"}},"dimensions":{"minHeight":"40vh"}},"textColor":"contrast","className":"post-sociallink","layout":{"type":"flex","orientation":"vertical","justifyContent":"center","flexWrap":"wrap"}} -->
    <div class="wp-block-group alignfull post-sociallink has-contrast-color has-text-color" style="min-height:40vh;margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--50)"><!-- wp:social-links {"openInNewTab":true,"showLabels":true,"size":"has-normal-icon-size","style":{"spacing":{"blockGap":{"top":"12px","left":"12px"}}},"className":"is-style-logos-only","layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <ul class="wp-block-social-links has-normal-icon-size has-visible-labels is-style-logos-only"><!-- wp:social-link {"url":"https://www.facebook.com/sharer/sharer.php?u=https://qrolic.com/send-email-in-codeigniter-using-smtp/","service":"facebook","label":"Share on Facebook "} /-->
    
    <!-- wp:social-link {"url":"https://twitter.com/share?url=https://qrolic.com/send-email-in-codeigniter-using-smtp/","service":"twitter","label":"Share on Twitter "} /--></ul>
    <!-- /wp:social-links --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"className":"post-comment","layout":{"type":"default"}} -->
    <div class="wp-block-group post-comment"><!-- wp:comments -->
    <div class="wp-block-comments"><!-- wp:comments-title {"showPostTitle":false,"level":3} /-->
    
    <!-- wp:post-comments-form /--></div>
    <!-- /wp:comments --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"Qrolic-Technologies"} /-->